<form action="/login" method="post">
    <input type="text" name="username" placeholder="plz type in username"></input>
    <input type="password" name="password" placeholder="plz type in password"></input>
    <input type="submit" value="submit"></input>
</form>