<% include ../partials/header.ejs%>
<h1>this is show.ejs</h1>
<h4>the camp name is: <%= camp.name %></h4>
<img src="<%=camp.image %>" alt="could not load image"></img>

<% camp.comments.forEach(function(comment){ %>
    <p> <strong> <%= comment.author%></strong> - <%= comment.text%> </p>

<% })%>
<% include ../partials/footer.ejs%>