<% include partials/header.ejs%>
<h1>please sign up!</h1>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="username"></input>
    <input type="password" name="password" placeholder="pwd"></input>
    <button>SignUp!</button>
</form>
<% include partials/footer.ejs%>